.all{
}
/* searchBar */
.search {
  background-color: white;
  display: flex;
  height: 60px;
  width: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-search{
  width: 80%;
  height: 50%;
  /* padding-left: 10px; */
  border: 5px black;
  border-radius: 2px;
  color: black;
  box-shadow: 0px 0px 3px black;
  margin-right: 7px;
  margin-left: 7px;

}

.button-sort {
  width: 40px;
  height: 35px;
  border: 5px black;
  border-radius: 2px;
  color: black;
  background-color: #bd8c08;
  box-shadow: 0px 0px 3px black;
  
}

.button-add{
  width: 40px;
  height: 35px;
  border: 5px black;
  border-radius: 2px;
  color: black;
  background-color: #bd8c08;
  box-shadow: 0px 0px 3px black;
  
}

/* searchBar end */
.card{
  display: flex;
  flex-wrap: wrap;
}
/* phone */

.phone-card{
  display: flex;
  flex-direction:row;
  padding: 10px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #e3e2de;
  box-shadow: 0px 0px 3px black;
  width: 250px;
  height:105px;
}
.title-name{
  margin-bottom: 200px;
  margin-left: 80px;
}

.avatar{
  width: 100px;
  height: 100px;
  margin-right: 80%;
}

.title{
  margin-bottom: 30px;
  margin-left: 20px;
}

.pencil{
  margin-right: 10px;
}

